/* Colors and font */

body {
    background-color: blanchedalmond;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 17px;
    }

h1, h2, h3{
    color: green;
    font-family:"Helvetica Neue";
    font-weight: bold;
    letter-spacing: 1px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

p {
    text-align: center;
    text-align: justify;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: underline;
}

div {
    background: white;
    border: 2px solid black;
    margin: 10px;
}

.img-circle {
    border-radius: 50%;
}

.text-justify-center {
text-align: justify;
text-align: center;
}