/* Colors and font */

body {
    background-color: rgb(236, 231, 222);
    color: black;
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 18px;
}

h1,
h2,
h3 {
    color: rgb(0, 0, 0);
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

p {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

/* Custom design for my classes */

.container {
    width: 1000px;
    margin: 40px auto;
    text-align: center;
}

@media (max-width: 960px) {
    .container {
        width: 700px;
    }
}

@media (max-width: 720px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .container {
        width: 300px;
    }
}


.card-white {
    background-color: whitesmoke;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

#markom {
    list-style: none;
    padding-left: 0px;
}

#hobbies {
    list-style: none;
    padding-left: 90px;
}

.list-inline {
    list-style: none;
    padding-left: 90px;
}

.list-inline li {
    display: inline;
    padding: 0px;
}

.list-inline i {
    font-size: 50px;
    color: rgb(230, 230, 230);
}

.list-inline i:hover {
    color: rgb(0, 0, 0);
}

.img-circle {
    width: 150px;
    border-radius: 50%;
    box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.1);
}

.slider {
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 150px auto;
}

.slides {
    width: calc(500px * 3);
    animation: glisse 10s infinite;
}

.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-500px);
    }

    43% {
        transform: translateX(-500px);
    }

    66% {
        transform: translateX(-1000px);
    }

    76% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}